# This sample Caddyfile will run the server on localhost.
localhost {
	templates
	encode zstd gzip
	root * ./
	file_server
	rewrite /blog/* blog.html
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}
}
